@import "styles/abstracts/mixins";

.size-small {
	grid-column: grid-start / grid-end;
	@include responsive($tablet-l) {
		grid-column: col-4 / col-10;
	}
}
.size-medium {
	grid-column: grid-start / grid-end;
}
.size-large {
	grid-column: screen-start / screen-end;
}
